@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User)
     && await UserManager.IsInRoleAsync(
         await UserManager.GetUserAsync(User), "Administrator"))
{
    <a class="navbar-brand"
       asp-area=""
       asp-controller="Admin"
       asp-action="Index">
        Komar
    </a>
}
else
{
    <a class="navbar-brand"
       asp-area=""
       asp-controller="Home"
       asp-action="Index">
        Komar
    </a>
}

